@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-size: 14px !important;
}
.product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border: 1px solid #eee;
}
.p-inputtext {
    font-size: 12px;
}
.p-checkbox .p-checkbox-box {
    width: 18px;
    height: 18px;
    border-radius: 4px;
}

.p-inputtext:enabled:focus {
    border-radius: 3px;
    box-shadow: 0 0 0 2px #ccd7ee;
}

.p-dropdown:not(.p-disabled):hover {
    border-radius: 3px;
    box-shadow: 0 0 0 2px #ccd7ee;
}
.p-dropdown:not(.p-disabled).p-focus {
    border-radius: 3px;
    box-shadow: 0 0 0 2px #ccd7ee;
}

.manage-list::-webkit-scrollbar {
    width: 14px;
}
.manage-list::-webkit-scrollbar-thumb {
    background-color: #0d3157;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
    height: 1vh;
}
.manage-list::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
    background-color: #ececec;
}

.p-dialog {
    max-height: 98vh;
}
.p-datatable .p-datatable-tbody > tr > td {
    padding: 0px;
}

.btn {
    color: black;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    min-width: 90px;
    height: 32px;
    padding: 6px;
    justify-content: center;
}
.default-btn {
    background: white;
}
.primary-btn {
    background: #e4f1ff;
}
.page-header .p-inputtext {
    font-size: 12px;
    padding: 8px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 3px;
}
.page-header .p-dropdown {
    height: 30px;
    border-radius: 3px;
}
.page-header .p-dropdown .pi {
    font-size: 12px;
}

.p-datatable-table td + td,
.p-datatable-table th + th {
    border-left: 1px solid #eee !important;
}

.p-datatable-resizable .p-datatable-tbody > tr > td {
    white-space: pre-wrap;
}

.p-checkbox .p-checkbox-box {
    border: 1px solid #ced4da;
}

.custom-tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    border-radius: 4px;
    padding: 4px;
    border: 1px solid #eee;
    background: #fff;
    transform: translate(25px, -5px);
}

/*
*Sidebar
*/
.custom-sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    z-index: 999;
    overflow-y: auto;
    -webkit-user-select: none;
    user-select: none;
    top: 7rem;
    left: 2rem;
    transition: left 0.2s, -webkit-transform 0.2s;
    transition: transform 0.2s, left 0.2s;
    transition: transform 0.2s, left 0.2s, -webkit-transform 0.2s;
    background-color: var(--surface-overlay);
    border-radius: 12px;
    padding: 1.5rem;
    box-shadow: 0px 3px 5px rgb(0 0 0 / 2%), 0px 0px 2px rgb(0 0 0 / 5%), 0px 1px 4px rgb(0 0 0 / 8%);
}

.p-dropdown .p-dropdown-label {
    padding-top: 5px;
}

.p-inputgroup-addon:last-child {
    border-right: none;
}

.text-center input {
    text-align: center;
}
.p-selectbutton .p-button {
    font-size: inherit;
    padding: 8px;
    border-radius: 3px;
}

.p-selectbutton .p-button + .p-button {
    margin-left: 1px;
}

.p-selectbutton .p-button.p-highlight {
    background-color: #3b82f6;
}
